<div class="container">
    <h1>Lista de Compras</h1>
    <form #frm="ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
        <input type="text"
        id="item"
        name="item"
        [(ngModel)]="item"
        placeholder="Digite o nome do item">
        <button type="submit">Adicionar</button>
        <button type="button" (click)="limpar()">Limpar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nº</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

           @for(elemento of lista; track elemento.id){
                <tr>
                    <td>{{elemento.id}}</td>
                    <td><span [ngClass]="{'item-riscado' : elemento.comprado}">{{elemento.nome}}</span></td>
                    <td>
                        <input type="checkbox"
                        (click)="ricarItem(elemento)"
                        [checked]="elemento.comprado"></td>
                </tr>
                 } @empty {
                    <tr colspan="3">
                        Nenhum item adicionado
                    </tr>
                 }

                 <!--
        <tr *ngFor="let elemento of lista">
            <td>{{elemento.id}}</td>
            <td>{{elemento.nome}}</td>
            <td><input type="checkbox"></td>
        </tr>
           -->
        </tbody>
    </table>
</div>
